@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

/* globals css */
@layer components {
  .infoText {
    @apply p-4 bg-gray-700/50 rounded-lg max-w-[300px];
  }

  .flexCB {
    @apply flex items-center justify-between;
  }

  .box-shadow-custom {
    @apply shadow-custom;
  }
}

.shadow-custom {
  box-shadow: 0 0 2px #919eab4d, 0 12px 24px -4px #919eab05 !important;
}

/* antd default style customization */

.ant-menu-dark .ant-menu-item-selected {
  @apply bg-secondary shadow-custom rounded text-white !important;
}

.ant-layout-sider-trigger {
  @apply bg-secondary border border-primary-light/10 font-bold !important;
  box-shadow: #919eab4d 0 0 2px, #919eab05 0 12px 24px -4px !important;
}

.ant-menu-horizontal {
  @apply flex justify-end !important;
}

.ant-menu-item .ant-menu-submenu {
  @apply px-1 !important;
}

.ant-menu-item-only-child {
  @apply pr-0 !important;
}
