@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* globals css */

/* antd default style customization */
.ant-layout-sider-trigger {
  background-color: #212c40 !important;
}
